<!-- <p>project works!</p> -->
<!-- Projects Section -->
<section id="projects">
  <div class="container">
      <h2 class="text-center">Projects</h2>
      <div class="row">
          <div class="col-md-4">
              <div class="card">
                  <a  href='https://www.onesidetaxi.com' target="_blank">
                  <img src="assets/images/project_1.png" class="card-img-top" alt="Project 1"></a>
                  <div class="card-body">
                      <a  href='https://www.onesidetaxi.com' target="_blank"></a> <h5 class="card-title">One Side Taxi</h5>
                      <!-- <p class="card-text">I have worked in that website by using Technologies Used | Laravel, SMTP, JavaScript, jQuery, Ajax, MySQL
                      </p> -->
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <a href="https://admatik.com.my/" target="_blank"><img src="assets/images/project_2.png" class="card-img-top" alt="Project 2"></a>
                  <div class="card-body">
                      <h5 class="card-title">Admatik</h5>
                      <!-- <p class="card-text">Brief description of Project 2.</p> -->
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                <a href="https://webstyleclub.website/bellingersbuttonboxes_new/" target="_blank">  <img src="assets/images/project_3.png" class="card-img-top" alt="Project 3"></a>
                  <div class="card-body">
                      <h5 class="card-title">Bellingers Button Boxes</h5>
                      <!-- <p class="card-text">Brief description of Project 3.</p> -->
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                <a href="" target="_blank">  <img src="assets/images/project_4.jpeg" class="card-img-top" alt="Project 4"></a>
                  <div class="card-body">
                      <h5 class="card-title">HRM</h5>
                      <!-- <p class="card-text">Brief description of Project 3.</p> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
