<!-- <p>roadmap works!</p> -->

<!-- <p>about works!</p> -->
<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-content">
          <h2>We Work on </h2>

          <div class="highlighted-section">
            <h3></h3>
            <ul>
              <!-- presentation.component.html -->
              <div class="card col-log-4">
                <img src="assets/images/ppt.jpg" class="card-img-top" alt="Presentation Image">
                <div class="card-body">
                  <h5 class="card-title">Presentation</h5>
                  <!-- <p class="card-text">Description of Presentation.</p> -->
                </div>
              </div>

              <div class="card col-log-4">
                <img src="assets/images/web.jpg" class="card-img-top" alt="Presentation Image">
                <div class="card-body">
                  <h5 class="card-title">Web Application</h5>
                  <!-- <p class="card-text">Description of Presentation.</p> -->
                </div>
              </div>

              <!-- <li>🌐 Market Zone Mastery: I understand the pulse of the market and stay updated with
                the latest trends.</li>
              <li>🎨 Animation Enthusiast: Beyond the lines of code, I have a creative side.</li>
              <li>🌱 Constant Learner: Committed to staying at the forefront of emerging technologies.
              </li> -->
            </ul>
          </div>

          <div class="why-work-with-me">
            <h3>Why Work With Me?</h3>
            <ul>
              <li>✨ Passion-Driven: I don't just code; I create digital experiences fueled by passion.
              </li>
              <li>🤝 Collaborative Spirit: I believe in the power of collaboration.</li>
              <li>📈 Results-Oriented: My goal is not just to deliver a project but to deliver
                measurable success.</li>
            </ul>
          </div>

          <p>
            Ready to embark on a coding journey together? Let's chat and explore the endless
            possibilities
            we can create. Feel free to reach out, and let's turn your ideas into reality!
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- Add an image if you want -->
        <div class="card image">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <!-- Image -->
              <img src="assets/images/image.jpg" class="card-img" alt="kajal shukla" [style.width]="'100%'"
                [style.height]="'86%'" [style.margin]="'10px'">
            </div>
            <div class="col-lg-6">
              <div class="card-body">
                <!-- Text content -->
                <h5 class="card-title"><i>kajal Shukla</i></h5>
                <p class="card-text">
                  Hello there! I'm <b><i>KAJAL SHUKLA</i></b>, a passionate software developer on a mission to
                  transform ideas
                  into digital reality. With a keen eye for innovation and a love for problem-solving, I
                  thrive in
                  the dynamic world of coding.
                </p>

                <p class="card-text"><small class="text-muted">Contact Us :

                    <ul>

                      <li>E-Mail : erkajalshukla@gmail.com</li>
                      <li>Phone No : 8882102287</li>
                      <li><img src="assets/images/linkedin-removebg-preview.png" class="logo"> <a
                          href='https://www.linkedin.com/in/kajal-shukla-a6213b154/' target="_blank">Linkendin</a>

                      <li><img src="assets/images/github.png" class="logo"> <a
                          href='https://github.com/Kajalshukla-ka-i/' target="_blank">Github</a>
                      </li>
                    </ul>
                  </small></p>
              </div>
            </div>
          </div>
        </div>

        <!-- <img src="assets/images/gmail-removebg-preview.png" alt="Your Name"> -->
      </div>
    </div>

  </div>
</section>
<!-- <app-contact></app-contact> -->
