<!-- <p>about works!</p> -->
    <!-- About Section -->
    <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="about-content">
                      <h2>About Me</h2>
                      <p>
                          Hello there! I'm <b><i>KAJAL SHUKLA</i></b>, a passionate software developer on a mission to
                          transform ideas
                          into digital reality. With a keen eye for innovation and a love for problem-solving, I
                          thrive in
                          the dynamic world of coding.
                      </p>

                      <div class="highlighted-section">
                          <h3>What I Bring to the Table:</h3>
                          <ul>
                              <li>🚀 Innovative Coding: I specialize in turning concepts into functional, elegant, and
                                  efficient code.</li>
                              <li>💡 Project Ideation: My mind is a playground of ideas, constantly buzzing with
                                  creativity.</li>
                              <li>🌐 Market Zone Mastery: I understand the pulse of the market and stay updated with
                                  the latest trends.</li>
                              <li>🎨 Animation Enthusiast: Beyond the lines of code, I have a creative side.</li>
                              <li>🌱 Constant Learner: Committed to staying at the forefront of emerging technologies.
                              </li>
                          </ul>
                      </div>

                      <div class="why-work-with-me">
                          <h3>Why Work With Me?</h3>
                          <ul>
                              <li>✨ Passion-Driven: I don't just code; I create digital experiences fueled by passion.
                              </li>
                              <li>🤝 Collaborative Spirit: I believe in the power of collaboration.</li>
                              <li>📈 Results-Oriented: My goal is not just to deliver a project but to deliver
                                  measurable success.</li>
                          </ul>
                      </div>

                      <p>
                          Ready to embark on a coding journey together? Let's chat and explore the endless
                          possibilities
                          we can create. Feel free to reach out, and let's turn your ideas into reality!
                      </p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <!-- Add an image if you want -->
                  <div class="card" [style.background]="'none'" [style.border]="'none'">
                    <div class="row no-gutters">
                      <div class="col-lg-8">
                        <!-- Image -->
                        <img src="assets/images/kajal.jpg" class="card-img" alt="Kajal Shukla"[style.width]="'100%'"
                        [style.height]="'86%'" [style.margin]="'10px'">
                      </div>
                      <div class="col-lg-6">
                        <div class="card-body">
                          <!-- Text content -->
                          <h5 class="card-title"><i>kajal Shukla</i></h5>
                          <!-- <p class="card-text">Some quick example text to describe the card content.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <img src="assets/images/gmail-removebg-preview.png" alt="Your Name"> -->
              </div>
          </div>

      </div>
  </section>
