<!-- <p>skills works!</p>
 -->

     <!-- Skills Section -->
     <section id="skills">
      <div class="container">
          <h2 class="text-center">Skills</h2>
          <div class="row">
              <div class="col-md-3">
                  <h4>Frontend</h4>
                  <ul>
                      <li class="list-view"><img class="logo" src="assets/images/html5-logo-html-logo-2-removebg-preview.png">HTML</li>
                      <li class="list-view"><img class="logo" src="assets/images/css-removebg-preview.png">CSS</li>
                      <li class="list-view"><img class="logo" src="assets/images/bootstrap-removebg-preview.png">Bootstrap
                      </li>
                      <li class="list-view"><img class="logo" src="assets/images/js-removebg-preview.png">JavaScript</li>
                      <li class="list-view"><img class="logo" src="assets/images/jquery-removebg-preview.png">jQuery</li>
                      <li class="list-view"><img class="logo" src="assets/images/angular-removebg-preview.png">Angular</li>
                      <!-- <li class="list-view">Angular-Material</li> -->
                  </ul>
              </div>
              <div class="col-md-3">
                  <h4>Backend</h4>
                  <ul>
                      <li class="list-view"><img class="logo" src="assets/images/php-removebg-preview.png">Core PHP</li>
                      <li class="list-view"><img class="logo" src="assets/images/laravel-removebg-preview.png">Laravel</li>
                      <li class="list-view"><img class="logo" src="assets/images/nodejs-removebg-preview.png">NodeJS</li>
                      <li class="list-view"><img class="logo" src="assets/images/express-removebg-preview.png">Express</li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <h4>Databases</h4>
                  <ul>
                      <li class="list-view"><img class="logo" src="assets/images/mysql-removebg-preview.png">MySQL</li>
                      <li class="list-view"><img class="logo" src="assets/images/mongo-removebg-preview.png">MongoDB</li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
